/* links external url image and makes it the size of the whole screen */
.background-image {
  background: url("https://images.unsplash.com/photo-1581508525585-04ea0dcd91d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /*Full width*/
  padding: 12px;
  /* Some padding */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
}

.design {
  margin-left: 50px;
}

.elements {
  margin-left: 150px;
}

.connect {
  margin-left: 150px;
}


.name {
  text-align: left;
}

.socialLinks {
  text-align: center;

}

.align {
  margin-left: 30px;
}

nav {
  background-color: rgb(3, 24, 3);
}

.nav-link {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(3, 24, 3);
}

footer a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

span a {
  color: white;
}

span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}
