/* links external url image and makes it the size of the whole screen */
.background-image {
  background-image: url("https://images.unsplash.com/photo-1502740289988-04eddde1556a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
}

.container {
  margin-top: 2px;
}

.text-center {
  margin-top: 5px;
}

.heading {
  margin-bottom: 20px;
}

.projects {
  padding-top: 15px;
}

/* change the opacity of the card */
.card-transparent {
  background-color: rgba(245, 245, 245, .4);
}

.weather {
  margin-bottom: 75px;
}

.name {
  text-align: left;
}

.socialLinks {
  text-align: center;

}

footer a {
  color: white;
}

span a {
  color: white;
}

.text-black {
  color: black;
}

.deployed {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.gitHub {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
