/* links external url image and makes it the size of the whole screen */
.background-image {
  background-image: url("https://images.unsplash.com/photo-1581508525585-04ea0dcd91d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

nav {
  background-color: rgb(3, 24, 3);
}

.nav-link {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

span a {
  color: white;
}

span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.container {
  background-color: rgba(245, 245, 245, 1);
}

.text-center {
  margin-top: 5px;
}

.heading {
  margin-bottom: 30px;
}

.projects {
  padding-top: 15px;
}

.weather {
  margin-bottom: 75px;
}

.name {
  text-align: left;
}

.socialLinks {
  text-align: center;

}

footer {
  font-size: 17px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(3, 24, 3);
}

footer a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.text-black {
  color: black;
}

.deployed {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
}

.gitHub {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
}
